node_modules/
pack/
temp*/
Sample/
.env
package-lock.json
commands.txt
/*json
*.json
*.gz
*.csv
proj.env
chrome/
chromedriver/
cache/
!info/amazon/types.json
!info/amazon/derivative/types.json
!info/apple/apple_tv_movies.json
!info/apple/apple_tv_series.json
app/
mysql/
database/